/*MAIN*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #434455;
  background-color: #0e1823;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container-min {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-max {
  width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-full {
  width: 100%;
  padding: 0 20px;
}
/* header */
.header-main {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #fbfbfb;
}
/* логотип */
.logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
/* навігація */
.header-navigations {
  display: flex;
  gap: 4px;
}
.navigation-link {
  /* вирівнювання тексту по центру  */
  display: flex;
  align-items: center;
  justify-content: center;
  /* текс */
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  /* тіпа кнопка */
  background: rgba(27, 65, 75, 0.5);
  border-radius: 8px;
  padding: 15px 25px;
}

.navigation-link:hover {
  background: #1b414b;
  font-weight: 600;
}

/* силки на соц мережі */
.header-link-social {
  display: flex;
  gap: 11px;
}
